# .gitignore

# dependencies
/node_modules

# testing
/coverage
/build
# production
/dist

# misc
.DS_Store
.env
*.log
/src/features/user/interface/mongodb-compass_1.43.0_amd64.deb
npm-debug.log*
yarn-debug.log*
yarn-error.log*